{# <!DOCTYPE html>
<html>
<head>
    <title></title>

    {% block title %} {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html> #}

<!DOCTYPE html>
<html>
<head>
    <title></title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, 
  shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">

  <!-- Our custom style -->
  <link rel="stylesheet"
  href="/static/css/styles.css">

</head>
<body>

    <!-- The content from the other html files will be replaced to here -->
    {% block content %}{% endblock %}

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
    {% endfor %}
    </ul>

    <!-- jQuery script tag from code.jquery.com -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        
    <!-- Script tags from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
    
    <!-- Script tags from getbootstrap.com -->

</body>
</html>


<!-- 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
    </title>

    {% block head %}hello{% endblock %}
  </head>
  <body>
 {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html> -->