{% extends 'base.html' %}

{% block title %} Restaurant Roulette {% endblock %}
{% block content %}

        <h1>Can't decide where to eat?</h1>
        <h2>Find a random restaurant near you!</h2>

    <form method="POST"/action="/restaurant_result">
    Location <input id='location' type="text" name="location">
    <input type="submit">
    </form>

{% endblock %}

   <!--  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">

<h2>Log In</h2>
  <form>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->
<!-- 
 <script type="text/javascript"></script>
</body>
</html> -->