<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Restaurant Roulette</title>
</head>
<body>
    <header class="header">
        <h1>Can't decide where to eat?</h1>
        <h2>Find a random restaurant near you!</h2>
    </header>

    <form method="GET" action="/">
    Location <input type="text" name="location">
    <input type="submit">
    </form>

   <!--  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">

<h2>Log In</h2>
  <form>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->

</body>
</html>